body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-image: url('P1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    background-color: rgb(4, 19, 236);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}


main {
    padding: 20px;
}

#aboutUs {
    margin-bottom: 20px;
}
h2{
    color: rgb(248, 248, 5);
}

.about-description {
    font-size: 16px;
    line-height: 1.6;
    text-shadow: 0 0 10px rgba(75, 74, 74, 0.7);
}

.about-description ul {
    list-style-type: disc;
    padding-left: 20px;
    text-shadow: 0 0 10px rgba(75, 74, 74, 0.7);
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-size: x-large;
}

nav a {
    color: chocolate;
    margin-right: 15px;
    text-decoration: none;
}
#logo{
    width: 100px;
}
.pp{
    color: red;
}