.formCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }
  .pp5{
    background-color: brown;
  }
  
  .formFields {
    width: 300px;
    
  }
  
  .formField {
    margin-bottom: 15px;
    
  }
  
  .formFieldLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .formFieldInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .formFieldButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
    width: 200px;
  }
  
  .formFieldButton:hover {
    background-color: #45a049;
  }
  
  .formFieldLink {
    color: #a4c3ff;
    text-decoration: none;
    margin-left: 70px;
  }
  
  .formFieldLink:hover {
    text-decoration: underline;
  }
  